body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header{
  border-bottom: 1px solid #dadce0;
  height: 50px;
  width: 100%
}

.gb_uc{
  fill: #5f6368;
  outline: none;
}

.Header_svg{
  float: left;
  cursor: pointer;
  padding: 12px 3px 12px 12px;
  height: 20px;
  widht: 20px;
  margin: 3px 5px 5px 5px;
  fill: #5f6368;
  transition: 1s;
}

.Header_svg:hover{
  fill: black;
  transition: 1s;
}

img{
  float: left;
  padding: 9px 12px 0px 3px;
  height: 33px;
  width: 33px;
}

a{
  float: left;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  top: -1.5px;
  font-family: 'Product Sans',Arial,sans-serif;
  color: #5f6368;
  margin-top: 16px;
}

.keep{
  color: inherit;
  opacity: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.search_1{
  float: left;
  background: #f1f3f4;
  width: 55%;
  height: 40px;
  vertical-align: center;
  position: relative;
  left: 5%;
  border-radius: 8px;
  margin-top: 5px;
}

.Search_svg{
  fill: #5f6368;
  float: left;
  margin: 8px;
}

.Tool_bar{
  float: left;
  margin-left: 100px;
}

.search {
  float: left;
  background: transparent;
  border-radius: 8px;
  border: none;
  font: normal 16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 13px;
  height: 38px;
  outline: none;
  width: 90%;
  margin-left: 5px;
  vertical-align: top;
}

.nav {
  width: 200px;
  min-width: 200px;
  /* фиксируем и выставляем высоту панели на максимум */
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: 51px;
  /* сдвигаем (прячем) панель относительно левого края страницы */
  left: -250px;
  /* внутренние отступы */
  padding: 15px 20px;
  /* плавный переход смещения панели */
  transition: left 800ms;
  /* определяем цвет фона панели */
  /* поверх других элементов */
  z-index: 2000;
}

/**
 * Кнопка переключения панели
 * тег <label>
 */

.nav-toggle {
  /* абсолютно позиционируем */
  position: absolute;
  /* относительно левого края панели */
  left: 200px;
  top: 6px;
  /* отступ от верхнего края панели */
  /* внутренние отступы */
  padding: 0.5em;
  /* определяем цвет фона переключателя
   * чаще вчего в соответствии с цветом фона панели
  */
  background: white;
  /* цвет текста */
  color: gray;
  /* вид курсора */
  cursor: pointer;
  /* размер шрифта */
  font-size: 1.2em;
  line-height: 1;
  /* всегда поверх других элементов страницы */
  z-index: 2001;
}

/* определяем текст кнопки
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/

.nav-toggle:after {
  content: '\2630';
  text-decoration: none;
}

/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен :)
 * имя селектора атрибут флажка
 */

[id='nav-toggle'] {
  position: absolute;
  display: none;
}

/**
 * изменение положения переключателя
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
  left: auto;
  right: 2px;
  top: 1em;
}

/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */

[id='nav-toggle']:checked ~ .nav {
  left: 0;
  overflow-y: auto;
}

/*
 * смещение контента страницы
 * на размер ширины панели,
 * фишка необязательная, на любителя
*/

[id='nav-toggle']:checked ~ main > article {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  transform: translateX(200px);
}

/**
 * позаботьтимся о средних и маленьких экранах
 * мобильных устройств
 */

@media screen and (min-width: 200px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 865px) {
  .Tool_bar{
    display: none;
  }

}

@media screen and (max-width: 200px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .nav {
    width: 100%;
    box-shadow: none
  }
}

/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */

.nav > ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.nav > ul > li {
  line-height: 2.5;
  opacity: 1;
  height: 60px;
  vertical-align: middle;
}

/**
 * оформление ссылок пунктов меню
 */
.nav > ul > li > a {
  display: inline-block;
  position: relative;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: gray;
  width: 100%;
  text-decoration: none;
  /* плавный переход */
  -webkit-transition: color .3s ease, padding .3s ease;
  -moz-transition: color .3s ease, padding .3s ease;
  transition: color .3s ease, padding .3s ease;
}

/**
 * состояние ссылок меню при наведении
 */
.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
  color: black;
  padding-left: 10px;
}

.iCo{
  height: 25px;
  width: 25px;
  float: left;
  position: absolute;
  left: 30px;
  bottom: 1px;
}

.gb_Uc{
  fill: #5f6368;
  padding-right: 15px;
  vertical-align: top;
}

.nav > ul > li:first-child {
  border-bottom: 1px solid #dadce0;
}

.Note_form{
  min-height: 100px;
  width: 50%;
  background: #f1f3f4;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #dadce0;
  overflow-x: hidden;
  overflow-y: auto;
}

.Note_title{
   padding: 8px;
   float: left;
   text-align: left;
   min-height: 35px;
   width: 30%;
   border-radius: 8px;
   outline: none;
   box-sizing: border-box;
}

.Note_text{
  padding: 20px 8px 8px 8px;
  float: left;
  text-align: left;
  min-height: 35px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  position: relative;
}
